
<header class="masthead">
<div class="container">
  <div class="row">
   <div class="position-point">
       <h1 class="text">Nice to meet you</h1>
   </div>
  </div>
</div>
</header>

<div class="container">
  <section class="team-boxed">
    <div class="container">
        <div class="intro">
          <h2 class="text-center">About Us</h2>
          <p class="text-center">Visitors can click through different stories about the brand’s sponsorships, like providing gear for Heroes and Horses.<br>
          <p class="text-center">It also showcases stories about inspiring people from the outdoors scene, such as the story behind Mark Engler, a legendary fishing guide in the Colorado/New Mexico area.</p>
          <p class="text-center">JK tells its story. It also features key highlights about the brand that keeps visitors inspired and creates a good user experience.</p>
          <p class="text-center">These summaries help showcase JK unique qualities and earn trust with potential customers. </p>
        </div>
        <div class="row people">
          <div class="4-item">
            <div class="box">
              <!-- Image -->
              <h3 class="name">Ben Johnson</h3>
              <p class="title"> Musician</p>
              <p class="description">AAA</p>
              <div class="social">
                <a href="">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="4-item">
            <div class="box">
              <!-- Image -->
              <h3 class="name">Emily C</h3>
              <p class="title"> Artist</p>
              <p class="description">AAA</p>
              <div class="social">
                <a href="">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="4-item">
            <div class="box">
              <!-- Image -->
              <h3 class="name">Carl Kent</h3>
              <p class="title">Stylist</p>
              <p class="description">AAA</p>
              <div class="social">
                <a href="">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <section class="highliht-phone">
    <div class="container">
      <div class="row">
         <div class="col-md-8">
           <div class="intro">

           </div>
         </div>
         <div class="col-md-4">
           <div class="d-none">
             <!-- Image -->
             <div class="screen">
             </div>
           </div>
         </div>
      </div>
    </div>
  </section>
</div>
